<%- include('./header'); %>

<form method="post" action="/inserirProduto">	
	<table>
		<tr>
			<td>
				Nome:
			</td>

			<td>
				<input type="text" id="nome" name="nome">
			</td>

		</tr>

		<tr>
			<td>
				Preço venda:
			</td>

			<td>
				<input type="text" id="precovenda" name="precovenda">
			</td>

		</tr>

		<tr>
			<td>
				Preço custo:
			</td>

			<td>
				<input type="text" id="precocusto" name="precocusto">
			</td>

		</tr>

		<tr>
			<td>
				Estoque:
			</td>

			<td>
				<input type="text" id="estoque" name="estoque">
			</td>

		</tr>

		

		<tr>
			<td> <input type="submit" value="Salvar" /> </td>
			<td> <input type="button" onclick="cancelar();" value="Cancelar" /> </td>
		</tr>

	</table>
<form>

<%- include('./footer'); %>