<%- include('./header'); %>

<!-- <form method="post" action="/inserirProduto">	
	<table>
		<tr>
			<td>
				Nome:
			</td>

			<td>
				<input type="text" id="nome" name="nome">
			</td>

		</tr>

		<tr>
			<td>
				Preço venda:
			</td>

			<td>
				<input type="text" id="precovenda" name="precovenda">
			</td>

		</tr>

		<tr>
			<td>
				Preço custo:
			</td>

			<td>
				<input type="text" id="precocusto" name="precocusto">
			</td>

		</tr>

		<tr>
			<td>
				Estoque:
			</td>

			<td>
				<input type="text" id="estoque" name="estoque">
			</td>

		</tr>

		

		<tr>
			<td> <input type="submit" value="Salvar" /> </td>
			<td> <input type="button" onclick="cancelar();" value="Cancelar" /> </td>
		</tr>

	</table>
<form>

	<br>
-->

    <div class="container">
      <h2>Novo Produto</h2>
      <form method="post" action="/inserirProduto">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" name="nome">
        </div>

        <!--NÃO ACEITAVA CASA DECIMAL
	   <div class="form-group">
          <label for="precovenda">Preço de Venda:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input type="number" class="form-control" id="precovenda" name="precovenda">
          </div>
        </div> -->

		<div class="form-group">
			<label for="precovenda">Preço de Venda:</label>
			<div class="input-group">
			  <div class="input-group-prepend">
				<span class="input-group-text">R$</span>
			  </div>
			  <input type="tel" step="0.01" min="0" placeholder="R$ 0.00" onkeyup="formatCurrency(this)" id="precovenda" name="precovenda" >
			</div>
		  </div>

		

        <div class="form-group">
          <label for="precocusto">Preço de Custo:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input type="tel" step="0.01" min="0" placeholder="R$ 0.00" onkeyup="formatCurrency(this)" class="form-control"   id="precocusto" name="precocusto" aria-label="Amount (to the nearest dollar)">
          </div>
        </div>
        <div class="form-group">
          <label for="estoque">Estoque:</label>
          <input type="number" class="form-control" id="estoque" name="estoque" step="0.01">
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" class="btn btn-danger" onclick="cancelar();">Cancelar</button>
      </form>
    </div>


	<script>
		function formatCurrency(input) {
		  let value = input.value.replace(/[^\d]/g, '');
		  value = value / 100;
		  value = value.toFixed(2).replace(',', '.');
		  input.value =  value;
		}
	  </script>

	<script>
		const currencyInput = document.getElementById('precocusto');
  
		currencyInput.addEventListener('input', (event) => {
		  // Remove non-numeric characters
		  const value = event.target.value.replace(/[^\d]/g, '');
  
		  // Format the value as a currency string with BRL format
		  const currency = (+value / 100).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
  
		  // Split the currency string into thousands and decimal parts
		  const [thousands, decimals] = currency.split(',');
  
		  // Add dots as thousands separators
		  const formattedThousands = thousands.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
  
		  // Set the value of the input field
		  event.target.value = formattedThousands + ',' + decimals;
		});
	  </script>


	<!-- <script>
		const currencyInput = document.getElementById('precocusto');
  
		currencyInput.addEventListener('input', (event) => {
		  // Remove non-numeric characters
		  const value = event.target.value.replace(/[^\d]/g, '');
  
		  // Format the value as a currency string with BRL format
		  const currency = (+value / 100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
  
		  // Remove the prefix from the currency string
		  event.target.value = currency.substring(3);
		});
	  </script>

<script>
	const currencyInputpv = document.getElementById('precovenda');

	currencyInputpv.addEventListener('input', (event) => {
	  // Remove non-numeric characters
	  const value = event.target.value.replace(/[^\d]/g, '');

	  // Format the value as a currency string with BRL format
	  const currency = (+value / 100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });

	  // Remove the prefix from the currency string
	  event.target.value = currency.substring(3);
	});
  </script> -->
 
	
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
<%- include('./footer'); %>