<!DOCTYPE html>
<html>
	<header>	
		<title><%=varTitle%></title>
		<script src="/funcoes.js"></script>
		<link href="/main.css" rel="stylesheet"   </link>
		
	</header>
	
	<body>
		<a href="/" >HOME</a> -
		<a href="/clientes" >Clientes</a> - <a href="/add" >Cadastrar Cliente</a>
		- <a href="/produtos" >Produtos</a> - <a href="/addProdutos"> Cadastrar Produtos</a>
		- <a href="/venda"> Vendas</a>
		<br>
		<br>
		
		
	   