<%- include('./header'); %>

  <div class="container">
    <h1>Selecione o periodo:</h1>
    <form id="searchForm" method="POST" action="/pesquisa_venda">
      <div class="mb-3">
        <label for="startDate" class="form-label">Data de Início:</label>
        <input type="date" class="form-control" id="startDate" name="startDate">
      </div>
      <div class="mb-3">
        <label for="endDate" class="form-label">Data de Fim:</label>
        <input type="date" class="form-control" id="endDate" name="endDate">
      </div>
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

    <div id="searchResult" class="mt-4"></div>
  </div>


<%- include('./footer'); %>