<%- include('./header'); %>
<form>

    Cliente:
    <select id=idcliente>
        <%
		var p = clientes.length;
		for(var i=0;i<p;i++)
		{
	    %>
            <option><%=clientes[i].nome%></option>>
        <% } %>
        
    </select>

    Produto:
    <select id=idproduto>
        <%
		var c = produtos.length;
		for(var i=0;i<p;i++)
		{
	    %>
            <option><%=produtos[i].nome%></option>>
        <% } %>
        
    </select>

</form>